<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Students List</h1>


    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>number</th>
                <th>reg</th>
            </tr>
        </thead>
        <tbody>
            {%for t in stud%}
            <tr>
                <th>{{t.id}}</th>
                <th><a href="{% url 'st_detail' t.id %}">{{t.name}}</a></th>
                <th>{{t.phone}}</th>
                <th>{{t.reg}}</th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>

</html>